<div class="pagina">
    <div class="parte-superior">
        <img id="logo" src="../../assets/LOGO_COMPLETA.png" alt=""/>
        <form id="upper-form" action="#">
            <div class="div-user">
                <label for="fname">Email</label><br>
                <input class="input-user" type="email" id="fname" name="fname" placeholder="Seu Email...">   
            </div>
            <div class="div-user">
                <label for="lname">Telefone</label><br>
                <input class="input-user" type="tel" id="lname" name="lname" placeholder="Seu Telefone...">    
            </div>
        </form>
    </div>
    <div id="parte-media">
        <div id="lower-form">
            <div class="feedback-form">
                <label for="lname">Nos de seu feed-back </label><br>
                <input class="input-user feedback-input" type="text" id="lname" name="lname" placeholder="Ajude-nos a melhorar a aplicação..."> 
            </div>
            <div id="radio-forms">
                <div class="radio-form">
                    <label for="lname">Notificações: </label>
                    <button class="bttn-info" type="button">
                        <i class="far fa-info-circle"></i>    
                    </button><br><br>
    
                    <div class="radio-bttn">
                        <input type="radio" id="html" name="fav_language" value="HTML">
                        <label for="html">SMS</label><br>    
                    </div>
    
                    <div class="radio-bttn">
                        <input type="radio" id="css" name="fav_language" value="CSS">
                        <label for="css">Email</label><br>    
                    </div>
                    
                    <div class="radio-bttn">
                        <input type="radio" id="javascript" name="fav_language" value="JavaScript">
                        <label for="javascript">SMS e Email</label><br>    
                    </div>

                    <div class="radio-bttn">
                        <input type="radio" id="javascript" name="fav_language" value="JavaScript">
                        <label for="javascript">Não receber</label>    
                    </div>
                    
                </div>   
                <div class="radio-form" id="radio-direita">
                    <label for="lname">Senha: </label>
                    <button class="bttn-info" type="button">
                        <i class="far fa-info-circle"></i>   
                    </button><br><br>
                    
                    <div class="radio-bttn">
                        <input type="radio" id="html" name="fav_language" value="HTML">
                        <label for="html">SMS</label><br>    
                    </div>
                    <div class="radio-bttn">
                        <input type="radio" id="css" name="fav_language" value="CSS">
                        <label for="css">Email</label><br>    
                    </div>
                    
                </div>   
            </div>
        </div>
    </div>
    <div class="parte-inferior">
        <input class="input-user botao-submit" type="submit" value="Enviar feedback">
        <input class="input-user botao-submit" type="submit" value="Limpar">
        <input class="input-user botao-submit" type="submit" value="Salvar alterações">
    </div>
</div>

