*{
    color:rgb(106, 106, 106);

}

i{
    color:rgb(255, 132, 37)
}



.pagina{
    padding-top: 4rem;
}

.parte-superior{
    display: flex;
    padding-bottom: 30px;
}
.parte-media{
    display: flex;
}

.parte-inferior{
    padding: 0;
    padding-top: 30px;
    display: flex;
    justify-content: end;
    
}

.div-user{
    padding-right: 30px;
}

.input-user{
    border-radius:0.3vw;
    border: 1px solid #ccc;
    border-color: rgb(197, 197, 197);
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    display: inline-block;
    background-color: rgb(243, 243, 243);
    width: 400px;
}

.feedback-input{
    width: 750px;
    padding-bottom:300px;
}

.radio-form{
    padding-right: 30px;
}

.radio-bttn{
    padding:5px;

}


.botao-submit{
    color:white;
    width: 160px;
    margin-left: 60px;
    border-radius: 6vw;
    background-color: aqua;
    position: relative;
    background-image: linear-gradient(to right, #0F4C75 , #3282B8)
}

.direita{
    justify-content: end;
}

.bttn-info{
    border-style: none;
    background-color: transparent;

    &:hover{
        background-color: #e6e6e6;
        border-radius: 5vw;
    }

    &:active{
        background-color: #000;
    }
}

#lower-form{
    display: flex;
}

#upper-form{
    display: flex;
    padding-top: 30px;
    padding-left: 50px;
}

#logo{
    width: 300px;
    height:auto;
}

#radio-forms{
    display: flex;
    padding-left: 100px;
}

#radio-direita{
    padding-left: 50px;
}
